@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/;
}
body{
    background-image: linear-gradient(to right, #048C7F, #0C1A26);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color: #F22613;
text-align: center;
text-shadow: 1px 1px 2px black;
}
h2{
color: #F2594B;
}
p{
    text-align: justify;
}